@charset "UTF-8";

.header{
   background-color:#00bfff;
   height:100px;
}
.header-logo{
      padding-top:20px;
      text-align:left;
   }


.main{
   height:650px;
}
. copy-container{
   text-align:center;
}
h1{
         text-align:center;
         border-bottom:5px solid #00bfff;
         color:red
   }
   
.contents{
   text-align:center;
}
.contents-item{
      text-align:center;
      heigt:250px;
}

.footer{
   background-color:#00bfff;
   height:250px;
}
.footer-logo{
      text-align:left;
   }
.footer-list {
      text-align:right;
   }
.footer li{
      list-style:none;
   }  
