@charset "UTF-8";

.header{
   background-color:#00bfff;
   height:80px;
}
.header-logo{
      padding-top:20px;
      text-align:left;
   }


.main{
   height:450px;
}
. copy-container{
   text-align:center;
}
h1{
         text-align:center;
         color:red
   }
   
.contents{
   text-align:center;
}
.contents-item{
      text-align:center;
      heigt:200px;
}

.footer{
   background-color:#00bfff;
   height:120px;
}
.footer-logo{
      text-align:left;
   }
.footer-list {
      text-align:right;
   }
.footer li{
      list-style:none;
   }  
