@charset "UTF-8";

.header{
   background-color:#00bfff
   .header-logo{
      padding-top:20px;
      text-align:left;
   }
}

. copy-container{
   border-bottom:5px solid #00bfff
   text-align:center;
   
   .span{
      color:red;
   }
}

.contents-item{
   text-align:center;
   heigt:270px;
}

.footer{
   background-color:#00bfff;
   .footer-logo{
   float:left;
   }
}

.footer-list li{
   list-style:none;
   float:right;
}
